# Configuração da Base de Dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=a_tua_password
DB_NAME=twitter_clone
DB_PORT=3306

# Servidor
PORT=5000

# JWT Secret (muda para uma string aleatória segura)
JWT_SECRET=twitter_clone_jwt_secret_2025_sgbd

# Ambiente
NODE_ENV=development
